black
certifi
charset-normalizer
click
cycler
fonttools
idna
kiwisolver
lxml==4.6.4
matplotlib==3.*
mypy-extensions
numpy==1.*
packaging
pandas==1.*
pathspec
Pillow==8.4.0
platformdirs
pyparsing
pyproj==3.*
python-dateutil
python-dotenv
pytz
reportlab==3.6.3
requests==2.28.2
Shapely==1.8.0
six
tomli
urllib3==1.26.15
